<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <script type="text/javascript">
    window.top.location.href = '<%= @authorize_url %>'
  </script>
  <noscript>
    <meta http-equiv="refresh" content="0;url=<%= h @authorize_url %>" />
    <meta http-equiv="window-target" content="_top" />
  </noscript>
  </head>
  <body>
    <div>Please <a href="<%= h @authorize_url %>" target="_top">authorize</a> if this page is not automatically redirected.</div>
  </body>
</html>
